In [34]:
#importing libraries
import pandas as pd 
import numpy as np
from pathlib import Path
import matplotlib.pyplot as plt
%matplotlib inline

In [35]:
#getting access & reading the data
csvpath = Path("budget_data.csv")

In [36]:
revenue_data = pd.read_csv(csvpath)
revenue_data.head()

       Date  Profit/Losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013
3  Apr-2010         -69417
4  May-2010         310503

In [37]:
#calculating total number of months included in the dataset.
total_months = len(revenue_data["Date"].unique())
total_months

86

In [38]:
#calculating net total amount of Profit/Losses over the entire period.
profit_losses = revenue_data["Profit/Losses"].sum()
profit_losses

38382578

In [39]:
#calculating the average of the changes in Profit/Losses over the entire period.
monthly_changes_list = []
initial = 0
final = 0
for index, row in revenue_data.iterrows():
    if index == 0:
        initial = row["Profit/Losses"]
    else:
        final = row["Profit/Losses"]
        monthly_change = (final - initial)
        monthly_changes_list.append(monthly_change)
        initial = final 
        
change_sum = 0
for change in monthly_changes_list:
    change_sum += change
    
average_change = change_sum/len(monthly_changes_list)
average_change

-2315.1176470588234

In [40]:
#calculating the greatest increase in profits (date and amount) over the entire period.
greatest_increase = revenue_data["Profit/Losses"].max()
for index, row in revenue_data.iterrows():
    if row["Profit/Losses"] == greatest_increase:
        greatest_increase_month = row["Date"]
    
print(f"Greatest Increase in Profits: {greatest_increase_month} (${greatest_increase})")

Greatest Increase in Profits: Feb-2012 ($1170593)

In [41]:
greatest_decrease = revenue_data["Profit/Losses"].min()
for index, row in revenue_data.iterrows():
    if row["Profit/Losses"] == greatest_decrease:
        greatest_decrease_month = row["Date"]
print(f"Greatest Decrease in Losses: {greatest_decrease_month} (${greatest_decrease})")

Greatest Decrease in Losses: Sep-2013 ($-1196225)

In [42]:
print("Financial Analysis")
print("----------------------------")
print(f"Total Months: {total_months}")
print(f"Total: ${profit_losses}")
print(f"Average Change: ${average_change}")
print(f"Greatest Increase in Profits: {greatest_increase_month} (${greatest_increase})")
print(f"Greatest Decrease in Profits: {greatest_decrease_month} (${greatest_decrease})")

Financial Analysis
----------------------------
Total Months: 86
Total: $38382578
Average Change: $-2315.1176470588234
Greatest Increase in Profits: Feb-2012 ($1170593)
Greatest Decrease in Profits: Sep-2013 ($-1196225)